fastapi
uvicorn
python-multipart

pydantic
pydantic-settings
python-dotenv

langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-experimental

chromadb
sentence-transformers
pysqlite3-binary

pypdf
pandas
openpyxl
tabulate

google-generativeai
duckduckgo-search
ddgs
youtube-transcript-api
pytube

matplotlib
seaborn